#mapid { height: 100%; 
		 }

.overlay {
  position: absolute;
  height: 95%;
  width: 30%;  
  top: 20px;
  right: 70px;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10000;
  display: none;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #9fabb7 !IMPORTANT;
  font: 400 15px/1.8 "Lato", sans-serif;
  overflow: auto;
}


.leaflet-popup-tip-container { 
    display: none; 
}

/* NAVIGATION TABS
 * ------------------------------*/

#menu {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 10px;
  width: 50px;
  z-index: 999999;
  padding: 0;
  margin: 0;
}

/* overall style of menu*/

#menu li {
  display: block;
  float: right;
  margin: 5px;
  width: 2.4vw;
  height: 2.4vw;
  background: rgba(100, 100, 100, 0.6);
  border-radius: 1.2vw;
}

/* menu icon */

#menu li img {
  width: 1.8vw;
  position: relative;
  top: 12%;
  left: 12%;
}

/* when actived, change style*/

#menu li.active {
  background: #666;
  background: rgba(255, 255, 255, 0.7);
  color: #fff;
}

/*when mouseover, change style*/

#menu li:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  height: 100%;
}

.bgimg-2 {
  height: 100%;
  
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption1 {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #2a2a2a;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.section {
  text-align: center;
  color: #fff;
  background-position: center center;
  margin: 0;
}

.container {
    min-width: 992px !important;
	text-align: center;
  }
  
  .btn {
  font-weight: bold;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-info {
  color: #000000;
  background-color: transparent;
  background-image: none;
  border-color: #000000;
}

.btn-outline-info:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #00bcd4;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
}

/*button for overview page*/

  .btn1 {
  font-weight: bold;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn1-outline-info {
  color: #ffffff;
  background-color: #00bcd4;
  background-image: none;
  border-color: #00bcd4;
}

.btn1-outline-info:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #ffd700;
  border-color: #ffd700;
}

.btn1-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
}

.btn1-outline-info.disabled,
.btn-outline-info:disabled {
  color: #00bcd4;
  background-color: transparent;
}

.btn1-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.btn1-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 320px; /* Should be removed. Only for demonstration */
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 320px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.legend { text-align: left; 
line-height: 18px; 
color: #555; } 

.legend i { width: 18px; 
height: 18px; 
float: left; 
margin-left: 8px; 
opacity: 0.7; }

.anychart-tooltip {
  border-radius: 3px;
  padding: 5px 10px;
  background: rgba(33, 33, 33, 0.7);
  border: none;
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: normal;
  color: #fff;
  font-family: Verdana, Helvetica, Arial, 'sans-serif';
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  margin: 10px;
  text-align: left;
}